<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 gastroDev-display-container " id="home">
  <div class="gastroDev-display-middle" style="white-space:nowrap;">
    <span class="gastroDev-center gastroDev-padding-large gastroDev-black gastroDev-xlarge gastroDev-wide gastroDev-animate-opacity">Full <span class="gastroDev-hide-small">Stack</span> Development</span>
  </div>
</div>

<!-- Container (About Section) -->

<div class="gastroDev-content gastroDev-container gastroDev-padding-64" id="about">
  <h3 class="gastroDev-center">ABOUT ME</h3>
  <p class="gastroDev-center"><em>I love photography</em></p>
  <p>We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <div class="gastroDev-row">
    <div class="gastroDev-col m6 gastroDev-center gastroDev-padding-large">
      <p><b><i class="fa fa-user gastroDev-margin-right"></i>Ben Sommerville</b></p><br>
      <img src="https://gastroben.s3.amazonaws.com/Self/53057915_10155830595535059_4749978360426266624_o.jpg" class="gastroDev-round gastroDev-image gastroDev-opacity gastroDev-hover-opacity-off" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="gastroDev-col m6 gastroDev-hide-small gastroDev-padding-large">
      <p>Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <p class="gastroDev-large gastroDev-center gastroDev-padding-16">Im really good at:</p>
  <p class="gastroDev-wide"><i class="devicon-ruby-plain"></i>Ruby on Rails</p>
  <div class="gastroDev-light-grey">
    <div class="gastroDev-container gastroDev-padding-small gastroDev-dark-grey gastroDev-center" style="width:90%">90%</div>
  </div>
  <p class="gastroDev-wide"><i class="fa fa-laptop"></i>Web Design</p>
  <div class="gastroDev-light-grey">
    <div class="gastroDev-container gastroDev-padding-small gastroDev-dark-grey gastroDev-center" style="width:85%">85%</div>
  </div>
  <p class="gastroDev-wide"><i class="fas fa-stroopwafel"></i>Culinary</p>
  <div class="gastroDev-light-grey">
    <div class="gastroDev-container gastroDev-padding-small gastroDev-dark-grey gastroDev-center" style="width:90%">90%</div>
  </div>
</div>

<div class="gastroDev-row gastroDev-center gastroDev-dark-grey gastroDev-padding-16">
  <div class="gastroDev-quarter gastroDev-section">
    <span class="gastroDev-xlarge">6+</span><br>
    Partners
  </div>
  <div class="gastroDev-quarter gastroDev-section">
    <span class="gastroDev-xlarge">47+</span><br>
    Projects Done
  </div>
  <div class="gastroDev-quarter gastroDev-section">
    <span class="gastroDev-xlarge">230+</span><br>
    Happy Clients
  </div>
  <div class="gastroDev-quarter gastroDev-section">
    <span class="gastroDev-xlarge">140+</span><br>
    Meetings
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 gastroDev-display-container gastroDev-opacity-min">
  <div class="gastroDev-display-middle">
    <span class="gastroDev-xxlarge gastroDev-text-white gastroDev-wide">PORTFOLIO</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="gastroDev-content gastroDev-container gastroDev-padding-64" id="portfolio">
  <h3 class="gastroDev-center">MY WORK</h3>
  <p class="gastroDev-center"><em>Here are some of my latest work.<br> Click on the link to view the project.</em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="gastroDev-row-padding gastroDev-center">
    <div class="gastroDev-col m3">
      <%= link_to "BLOG TEMPLATE", "https://gastroblog.herokuapp.com/", class: 'gastroDev-hover-opacity', target: 'blank' %>
    </div>

    <div class="gastroDev-col m3">
      <%= link_to "RESTAURANT TEMPLATE", "https://lit-tor-84285.herokuapp.com/", class: 'gastroDev-hover-opacity', target: 'blank' %>
    </div>

    <div class="gastroDev-col m3">
      <%= link_to "REAL ESTATE PROJECT", "https://whispering-sea-49760.herokuapp.com/", class: 'gastroDev-hover-opacity', target: 'blank' %>
    </div>

    <div class="gastroDev-col m3">
      <%= link_to "RESTAURANT CMS TEMPLATE", "https://resttemp.herokuapp.com/", class: 'gastroDev-hover-opacity', target: 'blank' %>
    </div>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="gastroDev-modal gastroDev-black" onclick="this.style.display='none'">
  <span class="gastroDev-button gastroDev-large gastroDev-black gastroDev-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="gastroDev-modal-content gastroDev-animate-zoom gastroDev-center gastroDev-transparent gastroDev-padding-64">
    <img id="img01" class="gastroDev-image">
    <p id="caption" class="gastroDev-opacity gastroDev-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 gastroDev-display-container gastroDev-opacity-min">
  <div class="gastroDev-display-middle">
     <span class="gastroDev-xxlarge gastroDev-text-white gastroDev-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="gastroDev-content gastroDev-container gastroDev-padding-64" id="contact">
  <h3 class="gastroDev-center">WHERE I WORK</h3>
  <p class="gastroDev-center"><em>I'd love your feedback!</em></p>

  <div class="gastroDev-row gastroDev-padding-32 gastroDev-section">
    <div class="gastroDev-col m4 gastroDev-container">
      <img src="https://gastroben.s3.amazonaws.com/Self/10402682_10152092823080059_8269378277145223636_n.jpg" class="gastroDev-image gastroDev-round" style="width:100%">
    </div>
    <div class="gastroDev-col m8 gastroDev-panel">
      <div class="gastroDev-large gastroDev-margin-bottom">
        <i class="fa fa-map-marker fa-fw gastroDev-hover-text-black gastroDev-xlarge gastroDev-margin-right"></i> Florida, US<br>
        <i class="fa fa-phone fa-fw gastroDev-hover-text-black gastroDev-xlarge gastroDev-margin-right"></i> Phone: (786)860-2661<br>
        <a href="mailto:nextbendev@gmail.com"><i class="fa fa-envelope fa-fw gastroDev-hover-text-black gastroDev-xlarge gastroDev-margin-right"></i> Email: nextbendev@gmail.com</a>

      </div>
      <p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a note:</p>
      <form action="/action_page.php" target="_blank">
        <div class="gastroDev-row-padding" style="margin:0 -16px 8px -16px">
          <div class="gastroDev-half">
            <input class="gastroDev-input gastroDev-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="gastroDev-half">
            <input class="gastroDev-input gastroDev-border" type="text" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="gastroDev-input gastroDev-border" type="text" placeholder="Message" required name="Message">
        <button class="gastroDev-button gastroDev-black gastroDev-right gastroDev-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</div>
